@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css  */
.body {
 background-color: "#F4D35E";

}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slider-slide {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add this to your global stylesheet */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


