@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css  */
.body {
 background-color: "#F4D35E";

}


.product-card {
  width: 16rem; 
  height: 28rem; 
  padding: 2rem; 
}
.product-card img {
  height: 8rem; /* Adjust as needed */
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slider-slide {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom scrollbar hiding */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


body {
  font-family: 'Cinzel', serif;
}

h1 {
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-family: 'Garamond', serif;
}

h4 {
  font-family: 'Trajan Pro', serif;
}

h5 {
  font-family: 'Great Vibes', cursive;
}

h6 {
  font-family: 'Alex Brush', cursive;
}

p {
  font-family: 'Bodoni Moda', serif;
}

.goudy {
  font-family: 'Goudy Old Style', serif;
}

.blackletter {
  font-family: 'Blackletter', sans-serif;
}

.didot {
  font-family: 'Didot', serif;
}

.sans {
  font-family: 'Roboto', sans-serif;
}

.script {
  font-family: 'Dancing Script', cursive;
}



